
{% extends "userlayout.html" %}
{% block content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="w3-card-4 w3-margin w3-light-grey" style="width:70%">

      <header class="w3-container w3-blue">
        <h1>Ask to Bot</h1>
      </header>
      <br>
  <form class="w3-container" action="" method="post" enctype="multipart/form-data">
    <div id="myDATA" class="w3-padding w3-center">
      <input class="botText" type="text" name="name" placeholder="Your Name..."><br><br>
      <input class="botText" type="text" name="num" placeholder="Your Number..."><br><br>  
      <button  type="submit" name="sub" value="Submit">Submit</button>
    </div>
  </form>
    

    <div id="myDIV" style="display: none;">
      <div id="chatbox">
        <p class="botText"><span>Hi I am here to help you.. Which is your probelm? 1. Finacial 2. Health 3. Relationship 4.mental 5.friendship 6.emptiness</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
        <br><br>
      </div>
    </div>
    </div>

    <form class="w3-container" action="" method="post" enctype="multipart/form-data">

    <div class="rate w3-container w3-margin ">
        
      <input type="radio" id="star5" name="rate" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    
    <br> <br>
  </div>
  <div class="w3-container w3-margin">
    <textarea class="w3-input w3-border w3-white" style="width:50%" rows="7" cols="25" name="suggestions" placeholder="Any Suggestions..."></textarea>
    <br>
  

      <input class="w3-btn w3-blue-grey w3-margin" name="sub" type="submit" value="Rate"/>
      <br><br>
  </div>  
    </form>



      <script type="text/javascript">

            var state = {{ state|safe }};
            var x = document.getElementById("myDIV")
            var y = document.getElementById("myDATA")
           
            if(state == 1){

              x.style.display = "block";
              y.style.display = "none";
      
            }
            else
            {
              x.style.display = "none";
              y.style.display = "block";
         

            }
      
    

 


        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>'+'<br>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput')  //.scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>' +'<br>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput')  //.scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
          
        
      </script>

        <!--footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        </div-->



  {% endblock %}